{% if item.item is defined %}
    {% set item = item.item %}
{% endif %}

{% set combined_headers = (nginx_http_headers_default | combine(nginx_http_headers) | combine(item.headers | default({}))) %}

server {
    listen      80;
    server_name {{ item.domains | join(' ') }};

    root  {{ item.web_root }};
    index {{ item.index }};

    access_log {{ item.log_path|default('/var/log/nginx/') }}{{ item.domains | first }}-access.log;
    error_log  {{ item.log_path|default('/var/log/nginx/') }}{{ item.domains | first }}-error.log;

    {% for key, value in combined_headers.items() if not key == 'Strict-Transport-Security' -%}
        add_header  {{ key }} "{{ value }}"  always;
    {% endfor %}

{% if item.rabbitmq_enabled|default(false) %}
    location ~* /rabbitmq/api/(.*?)/(.*) {
        {% if item.rabbitmq_whitelist_ip|default(false) -%}
            {%- for ip in item.rabbitmq_whitelist_ip -%}
                allow {{ ip }};
            {% endfor -%}
            deny all;
        {% endif %}

        add_header Content-Security-Policy "default-src 'self'; script-src 'self' data: 'unsafe-inline' 'unsafe-eval'; style-src 'self' data: 'unsafe-inline'; img-src 'self' data:" always;

        proxy_pass http://127.0.0.1:15672/api/$1/$2?$query_string;
    }

    location ~* /rabbitmq/(.*) {
        {% if item.rabbitmq_whitelist_ip|default(false) -%}
            {%- for ip in item.rabbitmq_whitelist_ip -%}
                allow {{ ip }};
            {% endfor -%}
            deny all;
        {% endif %}

        add_header Content-Security-Policy "default-src 'self'; script-src 'self' data: 'unsafe-inline' 'unsafe-eval'; style-src 'self' data: 'unsafe-inline'; img-src 'self' data:" always;

        rewrite ^/rabbitmq/(.*)$ /$1 break;
        proxy_pass http://127.0.0.1:15672;
    }
{% endif %}

    location / {
        try_files $uri /{{ item.index }}$is_args$args;
    }

    location ~ \.php$ {
        fastcgi_pass  unix:/var/run/php/php{{ php8_version }}-fpm.sock;
        fastcgi_index {{ item.index }};
        include       fastcgi_params;
    }

    location /.well-known/acme-challenge {
        root {{ nginx_www_dir }};
        log_not_found off;
        try_files $uri =404;
    }
}
