{% if item.item is defined %}
    {% set item = item.item %}
{% endif %}

{% set combined_headers = (nginx_http_headers_default | combine(nginx_http_headers) | combine(item.headers | default({}))) %}

server {
    listen      80;
    listen      [::]:80;
    server_name {{ item.domains | join(' ') }};

    location / {
        return 301 https://$host$request_uri;
    }

    location /.well-known/acme-challenge {
        root {{ nginx_www_dir }};
        log_not_found off;
        try_files $uri =404;
    }

    access_log off;
}
